<header>
  <a href="/">
    <h1 class="text-right">歡迎光臨</h1>
      <h2 class="text-right-sub">
        <span class="text-right-sub">well come</span><br>
        <span class="text-right-sub">PHOTO BLOGER</span>
      </h2>
  </a>
</header>
