<%= render partial: "name" %>

<div class="show_content">
  <div class="show_image margin-top5% article-block ">
    <h1 class="create_new"> Create New </h1>
      <%= image_tag 'photo.jpg', class: 'image center-block' %>
  <div>
      <%= render 'form', article: @article %>
  </div>  
</div>

