<header>
<a href="articles">
<h1 class="text-right"><%= link_to current_user.username, root_path%></h1>
  <h2 class="text-right-sub">
    <span class="text-right-sub"><%= link_to current_user.email, root_path%></span>
    <br>
    <span class="text-right-sub">PHOTO BLOGER</span>
  </h2>
  </a>
</header>
